.header {
  background: #ededed;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 690px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 379px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #22343D;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.header__link:hover {
  opacity: 1;
}

.header__in-buttun {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  cursor: pointer;
}

.header__in-buttun:hover {
  color: #ffffff;
  background: #02897A;
}

.header__up-buttun {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #02897A;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header__up-buttun:hover {
  background: #ffffff;
  color: #02897A;
  border: solid 1px #02897A;
}

.header__darkmode {
  background: #F3F3F3;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.header__humburger {
  display: none;
}

@media only screen and (max-width:920px) {

  .header__content {
    width: auto;
  }

  .header__nav {
    display: none;
  }

  .header__in-buttun{
    display: none;
  }

  .header__up-buttun {
    display: none;
  }

  .header__humburger {
    display: inline-block;
  }
}

@media only screen and (max-width:775px) {

  .header__darkmode {
    display: none;
  }
}